.footerPopup {
  padding: 15px;
  width: 333px;
  border-radius: 5px;

  color: rgb(var(--color-background-default));
  background-color: rgb(var(--color-background-alter));

  display: flex;
  position: relative;
  flex-direction: column;

  .title {
    margin-bottom: 10px;
    text-align: center;
  }

  & > div {
    display: flex;
    justify-content: center;
  }
}
