@use "node_modules/nmgix-components/src/breakpoints.module.scss";

body {
  overflow-x: hidden;
  @media screen and (max-width: breakpoints.$breakpoint-min-phone) {
    overflow-x: auto;
  }
}

body,
html {
  margin: 0;
  scroll-behavior: smooth;
}

#__next {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// git cell related stuff, didnt want to take styles locally
#github-container {
  min-height: 0 !important;
  display: flex;
  justify-content: center;

  position: relative;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
  }
}

.width-full {
  display: none;
}
